NODE_ENV=development
PORT=3000
CARTO_API_KEY=cole_sua_chave_carto_aqui

DB_HOST=srv1960.hstgr.io
DB_PORT=3306
DB_NAME=u620428944_foodbi
DB_USER=u620428944_foodbi
DB_PASSWORD=troque_esta_senha

DATA_TTL_HOURS=168
DEFAULT_SOURCE=cnpjws
EXTERNAL_TIMEOUT_MS=12000
RETRY_ATTEMPTS=3
RETRY_BASE_DELAY_MS=1000
DAILY_JOB_CRON=0 3 * * *
MAX_DAILY_CITIES=10
